{% extends './base.html' %}

{% block body %}

<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="../index.html">Bangladesh Olympiadians Club</a></li>
                <li>Blog</li>
            </ol>
            <h2>Blog</h2>
        </div>
    </section>
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-7 entries">
                    <!-- Post Area -->
                    <article class="entry">
                        <div class="entry-img">
                            <img src="../assets/img/blog/blog-1.jpg" alt="" class="img-fluid rounded">
                        </div>
                        <h2 class="entry-title">
                            <a href="./blog-post.html">Dolorum optio tempore voluptas dignissimos cumque fuga qui
                                quibusdam quia</a>
                        </h2>
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                                        href="blog-post.html">John
                                        Doe</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                                        href="blog-post.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>
                                Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi
                                praesentium. Aliquam et
                                laboriosam eius aut nostrum quidem aliquid dicta.
                                Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est
                                cum et quod
                                quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
                            </p>
                            <div class="read-more">
                                <a href="blog-post.html">Read More</a>
                            </div>
                        </div>
                    </article>
                    <!-- End of post area -->
                    <div class="blog-pagination">
                        <ul class="justify-content-center">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="sidebar">
                        <h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form>
                                <input type="text">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div>
                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a href="#">Olympiad <span>(0)</span></a></li>
                                <li><a href="#">Events <span>(0)</span></a></li>
                                <li><a href="#">Workshops <span>(0)</span></a></li>
                            </ul>
                        </div>
                        <h3 class="sidebar-title">Tags</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a href="#">Olympiads</a></li>
                                <li><a href="#">Event</a></li>
                                <li><a href="#">Workshop</a></li>
                                <li><a href="#">GonitBid</a></li>
                                <li><a href="#">BDMO</a></li>
                                <li><a href="#">BDJSO</a></li>
                                <li><a href="#">NHSPC</a></li>
                                <li><a href="#">BDIO</a></li>
                                <li><a href="#">BDPHO</a></li>
                                <li><a href="#">BDBO</a></li>
                                <li><a href="#">IMO</a></li>
                                <li><a href="#">EO</a></li>
                                <li><a href="#">BanglaBid</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}